.trustedBy {
    background-color: #fafafa;
    height: 100px;
    display: flex;
    justify-content: center;
  
    .container {
      max-width: 760px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 60px;
      color: rgb(200, 200, 200);
      font-weight: 500;

      span {
        font-size: 18px;
      }
  
      img{
        height: 60px;
        object-fit: contain;
      }
    }
  }
  